name: DreamWeave Webhook

on:
  workflow_call:
    inputs:
      webhook_secret_name:
        required: false
        type: string
        default: DW_TOOLS_CHANNEL_WEBHOOK
      avatar-url:
        required: false
        type: string
        default: "https://avatars.githubusercontent.com/u/138459727?s=400&u=827e40e3dd9c110c15b3bff26eec0144841e657d&v=4"
      title:
        required: false
        type: string
        default: ""
      description:
        required: false
        type: string
        default: ""
      footer_text:
        required: false
        type: string
        default: ""

jobs:
  discord-notify:
    name: Discord Notification
    runs-on: ubuntu-latest

    steps:
      - name: Detect Release URL
        id: detect
        run: |
          echo "release_time=$(date -u "+%F %T")" >> $GITHUB_OUTPUT

          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "release_name=${{ github.ref_name }}" >> $GITHUB_OUTPUT
            echo "display_name=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          else
            github_sha_hash=${{ github.sha }}
            echo "release_name=development" >> $GITHUB_OUTPUT
            echo "display_name=${github_sha_hash:0:7}" >> $GITHUB_OUTPUT
          fi

      - name: Initialize Empty Fields
        id: format
        run: |
          if [[ -z "${{ inputs.title }}" ]]; then
            echo "title=${{ github.event.repository.name }} has been updated." >> $GITHUB_OUTPUT
          else
            echo "title=${{ inputs.title }}" >> $GITHUB_OUTPUT
          fi

          if [[ -z "${{ inputs.description }}" ]]; then
            echo "description=[${{ steps.detect.outputs.display_name }}](https://github.com/${{ github.repository }}/releases/tag/${{ steps.detect.outputs.release_name }}) is now available on GitHub and the AUR." >> $GITHUB_OUTPUT
          else
            echo "description=${{ inputs.description }}" >> $GITHUB_OUTPUT
          fi

          if [[ -z "${{ inputs.footer_text}}" ]]; then
            echo "footer_text=Workflow: ${{ github.run_id }} by: ${{ github.triggering_actor }} at: ${{ steps.detect.outputs.release_time }}" >> $GITHUB_OUTPUT
          else
            echo "footer_text=${{ inputs.footer_text }}" >> $GITHUB_OUTPUT
          fi

      - name: Discord Webhook Action
        uses: tsickert/discord-webhook@v7.0.0
        with:
          username: DreamWeave
          webhook-url: ${{ secrets[inputs.webhook_secret_name] }}
          avatar-url: ${{ inputs.avatar-url }}
          embed-title: ${{ steps.format.outputs.title }}
          embed-description: ${{ steps.format.outputs.description }}
          embed-footer-text: ${{ steps.format.outputs.footer_text }}
